<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets2/css/processo.css">
</head>
<body>
    <table class="table-sortable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>PID</th>
                <th>Status</th>
                <th>CPU %</th>
                <th>RAM %</th>
                <th>Máquina</th>
            </tr>
        </thead>
        <tbody>
            <tr>

            </tr>
        </tbody>
    </table>

    <!-- <script src="../js/processo.js"></script> -->
</body>
</html>